//<МИКСИНЫ>===============================================================================================
@mixin anim($time,$delay){-webkit-transition: all $time ease $delay;-moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;transition: all $time ease $delay;}
@mixin anim_cubic($time, $delay) {-webkit-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-moz-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-ms-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-o-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;}
@mixin rotate($deg){-moz-transform: rotate($deg);-ms-transform: rotate($deg);-webkit-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin scale($num){-moz-transform: scale($num);-ms-transform: scale($num);-webkit-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin skew($num){-webkit-transform: skewX($num);-moz-transform: skewX($num);-ms-transform: skewX($num);-o-transform: skewX($num);transform: skewX($num);}
@mixin cnt($h){display: flex;flex-direction: column;height: $h;text-align: center;align-items: stretch;justify-content: center;}
@mixin tr($x,$y,$z){transform: translate3d($x, $y, $z);};
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;font-size: 0;}
@mixin flexorder($val){-webkit-box-ordinal-group: $val;-moz-box-ordinal-group: $val;-ms-flex-order: $val;-webkit-order: $val;order: $val;}
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================
@font-face {
	font-family: 'HarmoniaSansProCyr-Light';
	src: url('../fonts/HarmoniaSansProCyr-Light.eot');
	src: local('☺'), url('../fonts/HarmoniaSansProCyr-Light.woff') format('woff'), url('../fonts/HarmoniaSansProCyr-Light.ttf') format('truetype'), url('../fonts/HarmoniaSansProCyr-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HarmoniaSansProCyr-Regular';
	src: url('../fonts/HarmoniaSansProCyr-Regular.eot');
	src: local('☺'), url('../fonts/HarmoniaSansProCyr-Regular.woff') format('woff'), url('../fonts/HarmoniaSansProCyr-Regular.ttf') format('truetype'), url('../fonts/HarmoniaSansProCyr-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HarmoniaSansProCyr-Bold';
	src: url('../fonts/HarmoniaSansProCyr-Bold.eot');
	src: local('☺'), url('../fonts/HarmoniaSansProCyr-Bold.woff') format('woff'), url('../fonts/HarmoniaSansProCyr-Bold.ttf') format('truetype'), url('../fonts/HarmoniaSansProCyr-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HarmoniaSansProCyr-Black';
	src: url('../fonts/HarmoniaSansProCyr-Black.eot');
	src: local('☺'), url('../fonts/HarmoniaSansProCyr-Black.woff') format('woff'), url('../fonts/HarmoniaSansProCyr-Black.ttf') format('truetype'), url('../fonts/HarmoniaSansProCyr-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HarmoniaSansProCyr-SemiBd';
	src: url('../fonts/HarmoniaSansProCyr-SemiBd.eot');
	src: local('☺'), url('../fonts/HarmoniaSansProCyr-SemiBd.woff') format('woff'), url('../fonts/HarmoniaSansProCyr-SemiBd.ttf') format('truetype'), url('../fonts/HarmoniaSansProCyr-SemiBd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Font Awesome';
	src: url('../fonts/FontAwesome.eot');
	src: local('☺'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>=======================================================================================


//<Шрифт по умолчанию>==========================================================================================
$fontfamily:"HarmoniaSansProCyr-Regular";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth:320px;
$mw:1170;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
*{padding: 0px;margin: 0px;border: 0px;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
aside,nav,footer,header,section{display: block;}
html,body{height: 100%;margin: 0;padding: 0;min-width: $minwidth;position: relative;width: 100%;color: #000;}
body{font-size: 100%;line-height: 1;font-size: 14px;font-family: $fontfamily;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;
	&.lock{overflow: hidden;}
}
input,button,textarea{font-family: $fontfamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-weight: inherit;font-size: inherit;}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper{width: 100%;min-height: 100%;overflow: hidden;
	&.loaded{}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container{max-width:$mw+px;margin: 0 auto;width: 100%;
	@media (max-width:$md1+px){max-width: 970px;}
	@media (max-width:$md2+px){max-width: 750px;}
	@media (max-width:$md3+px){max-width: none;padding:0 10px;}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "header.scss";
@import "footer.scss";
@import "burger.scss";
@import "slick.scss";

@import "products.scss";
@import "one-product.scss";
@import "ion.rangeSlider.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================


/*OFFER
=======================================*/
.offer {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 650px;
	background: url('../img/header/offer.png') right no-repeat;
	background-color: #f3f3f5;
}


/*======================================
END OFFER*/

.offer__container {
	display: flex;
	align-items: center;
}
.offer__wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}
.offer__figure {}
.offer__figure-top {
	width: 10px;
	height: 12px;
	background-color: #fff;
}
.offer__figure-center {
	width: 10px;
	height: 36px;
	background-color: #ff5912;
	margin:10px 0px 10px 0px;
}
.offer__figure-bottom {
	width: 10px;
	height: 12px;
	background-color: #fff;
}
.offer__text {
	padding-left: 90px;
	@media(max-width: 480px){
		padding-left: 40px;
	}
}
.offer__title {

color: #ff5912;
font-family: "HarmoniaSansProCyr-Black";
font-size: 52px;
text-transform: uppercase;
margin-bottom: 30px;
}
.offer__subtitle {
	color: #3c4751;
	font-family: "HarmoniaSansProCyr-SemiBd";
	font-size: 18px;
	margin-bottom: 13px;
}
.offer__description {
	color: #495662;
	font-size: 16px;
	margin-bottom: 63px;
}
.offer__price-wrap {
	display: flex;
	align-items: center;
	color: #34404b;
	font-family: "HarmoniaSansProCyr-SemiBd";
	font-size: 18px;
}
.offer_price {
	margin-right: 31px;
	
	
}
.offer__cart {
	transition: all 0.5s ease;
	color: #34404b;
	padding-left: 35px;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 0px;
		left: 0;
		height: 17px;
		width: 24px;
		background: url("../img/header/cart.png") center no-repeat;
	}
	&:hover {
		color: #ff5912;
		transition: all 0.5s ease;
	}
}

/* ARRIVALS
=======================================*/
.arrivals {
	padding-top: 121px;
	background-color: #f4f6f8;
	padding-bottom: 80px;
}
.section__title {
		color: #34404b;
		font-family: "HarmoniaSansProCyr-Black";
		font-size: 36px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 30px;
		span {
			color: #ff5912;
		}
		
}
.section__subtitle {
	color: #495662;
	font-size: 16px;
	text-align: center;
	margin-bottom: 80px;
}
.arrivals__wrap {
	display: flex;
	margin: 0 -15px;
	margin-bottom: 80px;
	flex-wrap: wrap;
	@media(max-width: 480px){
		margin-bottom: 60px;
	}
}
.arrivals__column {
	flex: 0 1 25%;
	padding: 0 15px;
	margin-bottom: 30px;
	@media(max-width: 767px){
		flex: 0 1 50%;
	}
	@media(max-width: 480px){
		flex: 0 1 100%;
	}
}
.arrivals__item-img {
	margin-bottom: 32px;
}
.arrivals__item-description {
	color: #34404b;
	font-family: "HarmoniaSansProCyr-Bold";
	font-size: 18px;
	margin-bottom: 32px;
	text-align: center;
}
.arrivals__item-price {
	color: #ff5912;
	font-family: "HarmoniaSansProCyr-Bold";
	font-size: 18px;

}
.arrivals__card {
	min-height: 365px;
	position: relative;
}

.arrivals__item, .arrivals__item-mirror {
	position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 0px 25px 0px;
	cursor: pointer;
  transition: 1s;
  backface-visibility: hidden;
}

.arrivals__item-mirror {
	 transform: rotateY(180deg)
}

.arrivals__card {
	&:hover .arrivals__item {
		transform: rotateY(180deg);}
}

.arrivals__card {
	&:hover .arrivals__item-mirror {
		transform: rotateY(360deg);}
}


.arrivals__item-mirror-img {
	margin-bottom: 31px;
}
.arrivals__item-mirror-description {
	color: #ff5912;
	font-family: "HarmoniaSansProCyr-Bold";
	font-size: 18px;
	margin-bottom: 31px;
	text-align: center;
}
.arrivals__item-size {
	color: #34404b;
	font-family: "Harmonia Sans Pro Cyr";
	font-size: 14px;
	margin-bottom: 31px;
	
}
.arrivals__item-colors {
	display: flex;
	margin-bottom: 60px;
}
.arrivals__item-color {
	height: 14px;width: 14px;
	border-radius: 50%;
	margin-right: 5px;
	&:last-child{
		margin-right: 0;
	}
}
.circle1 {
	background-color: #e12e3f;
}
.circle2 {
	background-color: #34404b;
}
.circle3 {
	background-color: #3ab3ff;
}
.circle4 {
	background-color: #2fd967;
}
.arrivals__item-icons {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.arrivals__item-icon {
	margin-right: 28px;
	&:last-child {
	margin-right: 0;
	}
}
/*DOTS*/

.arrivals__dots {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 60px;
	width: 100%;
	background-color: #fff;
	margin-bottom: 119px;
	@media(max-width: 480px){
		margin-bottom: 60px;
	}
}
.arrivals__dot {}


/*KIT*/

.kit {
	display: flex;
	justify-content: space-between;
	@media(max-width: 767px){
		flex-wrap: wrap;
	}
	
}
.kit__column {
	min-height: 100px;
	background-color: #fff;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}
.kit__sale {
	flex: 0 1 60%;
	display: flex;
	justify-content: space-between;
	padding: 10px 60px 10px 60px;
	margin-right: 30px;
	@media(max-width: 767px){
		flex: 0 1 100%;
	}
	@media(max-width: 767px){
		margin-right: 0px;
	}
	@media(max-width: 480px){
		flex-direction: column;
	}
}
.kit__img {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 82px;
	min-width: 82px;
	background: url('../img/arrivals/kit_bg.png') center no-repeat;
	margin-right: 62px;
	@media(max-width: 992px){
		margin-right: 20px;
	}
	@media(max-width: 480px){
		margin-right: 0;
		margin-bottom: 20px;
	}
	
}
.kit__img-sale {
	color: #ffffff;
	font-size: 12px;
	margin-bottom: 5px;
}
.kit__img-percent {
	color: #ffffff;
	font-family: "HarmoniaSansProCyr-Black";
	font-size: 18px;
}
.kit__sale-text {
	@media(max-width: 767px){
		margin-right: 10px;
	}
	@media(max-width: 480px){
		margin-right: 0px;
		margin-bottom: 15px;
		text-align: center;
	}
}
.kit__sale-title {
	color: #34404b;
	font-family: "HarmoniaSansProCyr-Black";
	font-size: 22px;
	text-transform: uppercase;
	margin-bottom: 16px;
}
.kit__sale-subtitle {
	color: #495662;
	font-size: 12px;
}
.kit__sale-cart {
	display: flex;
	align-items: center;
}
.kit__sale-cart-img {
	margin-right: 21px;
}
.kit__sale-cart-price {

color: #ff5912;
font-family: "HarmoniaSansProCyr-Black";
font-size: 32px;

}
.kit_addvarea {
	flex: 0 1 40%;
	display: flex;
	justify-content: center;
	@media(max-width: 767px){
		flex: 0 1 100%;
	}
}
.addvarea {

}
.addvarea__text {
	text-align: center;
	font-size: 16px;
	color: #34404b;
	margin-bottom: 17px;
	span {
		color: #ff5912;
	}
}
.addvarea__size {
	color: #34404b;
	font-size: 12px;
	letter-spacing: 7.2px;
}

/*======================================
END ARRIVALS*/

/*SALE
=====================================*/
.sales {
	
	background-color: #f4f6f8;
	padding-bottom: 80px;
}

.sales__wrap {
	display: flex;
	margin: 0 -15px;
	margin-bottom: 100px;
	@media(max-width: 767px){
		flex-wrap: wrap;
	}
}
.sales__column {
	flex: 0 1 33.3333%;
	padding: 0 15px;
	@media(max-width: 767px){
		flex: 0 1 50%;
		margin-bottom: 30px;
	}
	@media(max-width: 480px){
		flex: 0 1 100%;
		padding: 0px 10% 0px 10%;
		
	}
}
.sales__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 35px 30px 35px 30px;
	background-color: #fff;
	transition: all 0.5s ease;
	cursor: pointer;
	&:hover {
		transition: all 0.5s ease;
		box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.46);
	}
	&:hover .sales__item-cart {
		transition: all 0.3s ease;
		opacity: 1;
	}
	&:hover .sales__item-rate, &:hover .sales__item-price {
		transition: all 0.3s ease;
		opacity:0;
	}

	@media(max-width: 992px){
		flex-direction: column;
		flex-wrap: wrap;
	}
}
.sales__item-img {
	 margin-right: 15px;
	 @media(max-width: 992px){
		 margin-right: 0px;
		 margin-bottom: 15px;
	}
}
.sales__item-title {
	font-family: 'HarmoniaSansProCyr-Bold';
	color: #34404b;
	font-size: 18px;
	margin-bottom: 30px;
	@media(max-width: 992px){
		text-align: center;
	}

}
.sales__item-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	@media(max-width: 992px){
		flex-direction: column;

	}
}
.sales__item-rate {
	text-align: center;
	margin-bottom: 10px;
}
.sales__item-price {
	font-family: 'HarmoniaSansProCyr-Bold';
	color: #ff5912;
	font-size: 16px;

}
.sales__item-cart {
	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	left: 40px;
	opacity: 0;
	 img {
	 	margin-right: 9px;
	 }
	 i {
		color: #ff5912;
		font-family: 'HarmoniaSansProCyr-SemiBd';
		font-size: 16px;
	 }
	
}


/*letter section*/

.letter {
	min-height: 123px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	padding: 0px 42px 0px 52px;
	@media(max-width: 767px){
		flex-wrap: wrap;
		justify-content: center;
	}
}
.letter__column {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media(max-width: 480px){
		flex-wrap: wrap;
		justify-content: center;
	}

}
.letter__title {
	color: #ff5912;
	font-family: 'HarmoniaSansProCyr-Bold';
	font-size: 18px;
	text-transform: uppercase;
	margin-right: 30px;
	@media(max-width: 480px){
		margin-right: 0;
		margin-bottom: 15px;
	}
}
.letter__description {
	color: #34404b;
	font-size: 14px;
	font-style: italic;
	margin-right: 10px;
	@media(max-width: 480px){
		margin-right: 0;
		margin-bottom: 15px;
		text-align: center;
	}
}
.letter__input {
	margin-right: 162px;
	position: relative;
	padding-left: 20px;
	&[type="text"] {
		color: #7c8791;
		font-size: 14px;
		font-style: italic;
	}
	@media(max-width: 992px){
		margin-right: 100px;
	}
	@media(max-width: 480px){
		margin-right: 0;
	}


}
.letter__btn {
	padding: 16px 27px 16px 27px;
	background-color: #ff5912;
	color:#fff;
	border: 2px solid transparent;
	transition: all 0.5s ease;
	white-space: nowrap;

	&:hover {
	background-color:#fff ;
	color:#ff5912;
	border-color: #ff5912;
	transition: all 0.5s ease;
	}

	@media(max-width: 480px){
		margin-top: 20px;
	}
}

/*====================================
END SALE*/

//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
.ibg{background-position: center;background-size: cover;background-repeat: no-repeat;
	img{display: none;}
}
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
