@font-face{

font-family: 'Myriad Pro';

src: url('../fonts/Myriad Pro.otf');

font-weight: normal;
}

@font-face{

font-family: 'DroidSerif';

src: url('../fonts/DroidSerif-Regular.ttf');

font-weight: normal;
}


@font-face{

font-family: 'DroidSerif Italic';

src: url('../fonts/DroidSerif-Regular.ttf');

font-weight: normal;
}